body {
font-family: Arial;
background: #f2f2f2;
text-align: center;
}


input, select, button {
padding: 10px;
margin: 5px;
}


li {
list-style: none;
background: white;
margin: 5px auto;
padding: 10px;
width: 60%;
}
.completed {
text-decoration: line-through;
color: green;
}

.progress-container {
width: 60%;
background: #ddd;
margin: 15px auto;
border-radius: 20px;
overflow: hidden;
}


#progressBar {
height: 20px;
width: 0%;
background: #4caf50;
text-align: center;
color: white;
line-height: 20px;
}